main {
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  display: grid;
  place-items: center;
  gap: 24px;
}

main h1 {
  font-size: var(--font-l);
  text-align: center;
  line-height: var(--font-xl);
}

.name-starter-input-form {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  gap: var(--font-xs);
}

.name-starter-input {
  width: 360px;
  height: 64px;
  padding: 20px;
  margin: 20px;
  background-color: var(--white);
  border: none;
  border-radius: 48px;
  font-family: "Archivo Black", sans-serif;
  font-size: var(--font-m);
}

.name-starter-button-wrapper > input {
  width: 64px;
  height: 64px;
  margin-right: 8px;
  background-color: var(--grey);
  border: none;
  border-radius: 48px;
  font-family: "Archivo Black", sans-serif;
  font-size: var(--font-s);
  cursor: pointer;
}

.name-starter-button-wrapper > input:hover {
  background-color: var(--blue);
}
