@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"); /* "Archivo Black", sans-serif */

html {
  /* color */
  --brown: #d89d41;
  --yellow: #e8ddbe;
  --blue: #497bd3;
  --grey: #f3f1de;
  --white: white;

  /* font size */
  --font-xs: 12px;
  --font-s: 16px;
  --font-m: 20px;
  --font-l: 24px;
  --font-xl: 32px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Archivo Black", sans-serif;
}
